/* Global settings */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: PT Sans;
  font-size: 20px;
  height: 100vh;
}

/* Header */

header {
  text-align: center;
  width: 100%;
  padding: 20px;
}

h1 {
  font-family: UnifrakturMaguntia;
  font-size: 70px;
}

.flex-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.title {
  margin-right: auto;
  margin-left: auto;
}

.score-board {
  /* align-self: flex-end; */
  width: 200px;
}

/* Game */
.game {
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px #0099D5;
  transform-style: preserve-3d;
  transition: transform .5s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background:#0099D5;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/* Modal */

.popup {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  z-index: 20;
  width: 400px;
  height: 300px;
  top: -450px;
  background: #d8b365;
  border-radius: 5px;
}

#play-again {
  width: 30%;
  font-family: PT Sans;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: rgb(248, 246, 246);
}


