/* Fonts
   _____
   font-family: 'PT Sans', sans-serif;
   font-family: 'UnifrakturMaguntia', cursive;
*/

/* Global settings */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
}

/* Typography */

h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 5.5rem;
  margin-bottom: .4em;
}

/* Layout */

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  text-align: center;
  padding: 1.5em;
}

#instructions {
  margin-top: 1.8em;
}

@media (min-width: 700px) {
  .container-flex {
    flex-direction: row;
  }

  #instructions {
    margin-top: 0;
  }
}

/* Scoreboard */

.score-board {
  min-width: 150px;
  background: pink; 
}

/* Game */

.game {
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  background:#0099D5;
  backface-visibility: hidden;
  border-radius: 5px;
}

.front-face {
  transform: rotateY(180deg);
  padding: 20px;
}

/* Modal */

.popup {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  z-index: 20;
  width: 400px;
  height: 300px;
  top: -450px;
  background: #d8b365;
  border-radius: 5px;
}

#play-again {
  width: 30%;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: rgb(248, 246, 246);
}